@font-face {
  font-family: Pricedown;
  src: url('../fonts/pdown.ttf');
}

#status {
	position: absolute;
  font-size: 35px;
	left: 17.5%;
	bottom: 7%;
  width: 200px;
}

#status div {
  margin-bottom: 10px;
}

#status div i {
  font-style: normal;
  text-align: center;
  min-width: 50px;
}

#status div span {
  font-family: 'Pricedown';
  font-size: 35px;
  color: white;
  margin-left: 10px;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}